[defaults]
# path for roles
#role_path = ./ansible_role/roles
# inventory = /home/my_user/ansible/host.ini
# role_path = /home/my_user/ansible/roles

host_key_checking = false
become = True
become_user = root

pipelining = True
