{% extends 'base.html' %}

{% block content %}

<br>
  <h2>{{ category.name }} </h2>
  <hr> 

<div class="container">
    <div class="row">   
    {% for product in product_of_category %}
            
            <div class="col-sm-4">
            <img  src="{{ product.image.url }}" style = 'width:200px'; height:150px;>
            </div>
            <div class="col-sm-8">
            <h4 class="text-center">{{ product.title}}</h4>
            <p> Цена : <strong>{{ product.price }} </strong> руб. </p>
            
            
            <!--{% if request.user.is_authenticated %}<p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>{% endif %}-->
            {% if request.user.is_authenticated %}<p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
                {% else %}
                   <p class='text-right'><button class='btn btn-warning'> Для заказа товара необходимо <a href='{% url "registration" %}'> Зарегестрироваться</a> или <a href='{% url "login" %}'>Войти</a> на сайт</button></a></p>
            {% endif %}
            <br><br><br>
            </div>
            
    {% endfor %}
    </div>
</div>
<!-- скрипт добавления товара в корзину-->
<!-- class='add_to_cart-->
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
{% endblock content %}

