{% extends 'base.html' %}
 

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
     <img  src="{{ product.image.url }}" style = 'width:200px'; height:150px;>
    </div>
    <div class="col-sm-8">
    <h3 class="text-center">{{ product.title}}</h3>
    <h5>{{ product.price }} руб. </h5>
    <p>{{ product.description }} </p>
    <hr>
    <p> Цена : <strong>{{ product.price }} </strong> руб. </p>
    
		<!--{% if request.user.is_authenticated %}<p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>{% endif %}-->
		{% if request.user.is_authenticated %}<p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
                {% else %}
                   <p class='text-right'><button class='btn  btn-warning'> Для заказа товара необходимо <a href='{% url "registration" %}'> Зарегестрироваться</a> или <a href='{% url "login" %}'>Войти</a> на сайт</button></a></p>
    {% endif %}
    <br>
    </div>
</div>

<!-- скрипт добавления товара в корзину-->
<!-- class='add_to_cart-->
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
{% endblock content %} 

