<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Hello wold!</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <p>server name is {{ ansible_hostname }}</p>
		<p>server ip is {{ ansible_all_ipv4_addresses }}</p>
		
    </body>

</html>